@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.input-container {
  margin-top: 30px;
}
.finish-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #1976d2;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.875rem;
}